<!-- FOOTER -->

<footer class="footer">

<div class="footer-logo">
<img src="https://sattvashtha.com/images/logo/sa.png" alt="logo">
</div>

<div class="social-icons">

<a href="#"><i class="fab fa-facebook-f"></i></a>
<a href="#"><i class="fab fa-x-twitter"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-linkedin-in"></i></a>

</div>


<div class="footer-menu">

<a href="index.html">Home</a>
<a href="About.html">About Us</a>
<a href="contact.html">Contact Us</a>
<a href="service.html">services</a>
</div>


<a href="#" class="top-btn">^ TOP</a>

</footer>

<script src="script.js"></script>
</body>
</html>