<header>
<div class="container nav">

<!-- LOGO -->
<img src="https://sattvashtha.com/images/logo/sa.png" class="logo" alt="logo">

<!-- HAMBURGER -->
<div class="menu-toggle" id="menu-toggle">
<i class="fa-solid fa-bars"></i>
</div>

<nav id="nav-menu">
<ul>

<li><a href="/index.html">Home</a></li>

<li class="dropdown">
<a href="#" class="drop-btn">
About <i class="fa-solid fa-chevron-down"></i>
</a>

<ul class="dropdown-menu">
<li><a href="/pages/company-overview.html">Company Overview</a></li>
</ul>

</li>

<li class="dropdown">

<a href="#" class="drop-btn">
Industries <i class="fa-solid fa-chevron-down"></i>
</a>

<ul class="dropdown-menu">

<li><a href="/pages/aerospace.html">Aerospace</a></li>
<li><a href="/pages/defense.html">Defense</a></li>
<li><a href="/pages/semiconductor.html">Semiconductor</a></li>
<li><a href="/pages/energy.html">Energy</a></li>

</ul>

</li>

<li>
<a href="/pages/manufacturing-capability.html">Manufacturing Capability</a>
</li>

</ul>
</nav>

<a href="/pages/contact.html" class="enquire-btn">Contact Us</a>

</div>
</header>